<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="{root_images}favicon.ico">
        <title>Temporal Demo: {title}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta content="TheLost" name="AUTHOR">
        <meta content="INDEX, FOLLOW" name="ROBOTS">
        <meta content="1 DAYS" name="REVISIT-AFTER">
        <meta content="GENERAL" name="RATING">
	{css}
        <link href="/system/modules/bootstrap_css/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{root_css}styles.css" type="text/css" media="screen, projection">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600,400italic,300italic,300&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	{scripts}
        
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>Temporal Example</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content" id="content-wrapper">
            <div class="container">
                <div class="row">
                        <div class="span12">
                            {content}
                        </div>
                </div>
            </div>
        </div>
            {footer}
            {debug}
            {adminbar}
	</body>
</html>

