<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
		<link rel="shortcut icon" href="{root_images}favicon.ico" type="image/vnd.microsoft.icon" /> 
		<link rel="icon" href="{root_images}favicon.ico" type="image/vnd.microsoft.icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache, no-store" />
		<meta http-equiv="expires" content="0" />
        <meta name="description" content="{meta_description}" />
        <meta name="keywords" content="{meta_keywords}" />

		<title>{title}</title>
		
		{css}
        <link rel="stylesheet" href="{root_css}styles.css" type="text/css" media="screen, projection" />
        
		{scripts}
    </head>
    <body>
	<div id="wrapper">
	    <div id="content-wrapper">
            <div id="logo">
                <h1>Temporal Sample Page</h1>
			</div>
			<div id="content">
				<div class="zone" id="z1">{z1}</div>
				<br />
				<div class="zone"  id="z2">{z2}</div>
				<br />
				<div class="zone"  id="z3">{z3}</div>
			</div>
	    </div>
	    <div id="footer">&nbsp;</div>
	</div>
		{footer}
		{debug}
        {adminbar}
    </body>
</html> 

